@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500&display=swap');

body {
    background-color: black;
    font-family: 'Heebo', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

/* Set overflow for mobile devices */
#site-wrapper {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Reusable classes for all sections */
.section-content {
    padding: 40px 60px 60px 60px;
}
.section-content h1 {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 40px;
}
.section-black {
    background-color: black;
}
.section-grey {
    background-color: #363636;
}

/* Navigation */
#header-logo {
    position: fixed;
    height: 48px;
    float: left;
    margin: 11px 20px;
}

/* Make navigation bar sticky */
#menu-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#navbar {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 100%);
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

#nav-menu {
    display: flex;
    gap: 0 60px;
    height: 70px;
    font-size: 1.2rem;
    padding-right: 30px;
}
#nav-menu li {
    display: inline;
    line-height: 70px;
}
#nav-menu li a {
    text-decoration: none;
    color: #fff;
    height: 70px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

#nav-menu li a:hover {
    font-weight: 400;
    visibility: visible;
}

#nav-menu li a::before {
    display: block;
    content: attr(data-text);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#hamburger {
    display: none;
    padding-right: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.bar {
    display: block;
    background-color: #fff;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

/* Hero section */
#hero-section {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;
    max-height: 500px;
}

#hero-video {
    display: block;
    margin: 0 auto;
    height: 100%;
    min-width: 650px;
    width: 100%;
    max-height: 500px;
}

#hero-heading {
    position: absolute;
    top: 100px;
    left: 60px;
    font-size: 4.73rem;
    font-weight: 800;
}

/* Album section */
.album-grid {
    display: grid;
    --w: 200px;
    --n: 4;
    grid-template-columns: repeat(auto-fit,minmax(max(var(--w), 100%/(var(--n) + 1) + 0.1%),1fr));
    column-gap: 75px;
    row-gap: 60px;
}

.album {
    aspect-ratio : 1 / 1;
    min-width: 250px;
    max-width: 300px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
    perspective: 1000px;
}

.album-content {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

.album:hover .album-content, .album:active .album content {
    transform: rotateY(180deg);
}

.album-cover, .album-text {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden; /* for Safari */
    backface-visibility: hidden;
  }

.album-text {
    padding: 10px 20px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 100%);
    text-align: left;
    transform: rotateY(180deg);
}
.album-text > span {
    font-weight: 400;
}
.album-text > p {
    font-size: 1rem;
    padding-top: 15px;
}

/* Listen section */
.section-listen {
    padding: 40px 60px;
}

#listen > h1 {
    display: inline;
}

.listen-icons {
    float: right;
}
.listen-icons a {
    display: inline-block;
}
.listen-icons img {
    height: 41px;
}

#youtube {
    margin-right: 75px;
}

#spotify {
    margin-right: 75px;
}


/* License section */
#license {
    background-image: url(../images/licenses-background.png);
    background-size: cover;
    background-color: rgb(0, 0, 0);
}

#license-sub {
    padding-bottom: 40px;
    font-weight: 300;
    font-size: 1.5rem
}

.license-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    gap: 0 20px;
}

.multi-line {
    width: 230px;
    white-space: pre-line;
}
.multi-line a:hover {
    font-weight: 400;
}

#enquiry-text {
    padding-top: 50px;
}

/* Fills out the rest of the page if there's not enough content */
.fill-page {
    flex-grow: 1;
}

/* Footer */
footer {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(29,29,29,1) 100%);
    margin-top: auto;
    width: 100%;
    height: 60px;
    font-size: 0.7rem;
}
footer > p {
    padding: 23px 0 0 40px;
}
#footer-rest-mob {
    display: none;
}

/* Button for 404 page */
#home-button {
    margin: 40px auto 0;
    border-radius: 2px;
    padding: 7px 15px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(40,40,40);
    color: #e2e2e2;
    display: block;
}
#home-button:hover {
    background-color: rgb(70,70,70);
    color: #ffffff;
}

/* Media queries*/
@media screen and (max-width: 840px) {
    #hamburger {
        display: block;
    }
    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    #hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-menu {
        background-color: rgba(29,29,29,0.80);
        position: fixed;
        height: auto;
        width: 100%;
        top: -280px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        -webkit-transition: all 0.55s ease-in-out;
        transition: all 0.55s ease-in-out;
        z-index: -1;
    }
    #nav-menu.active {
        top: 70px;
        padding-right: 0;
    }

    #nav-menu li a {
        display: block;
    }
    #nav-menu li a:hover {
        background-color: rgba(48,48,48,0.75);
    }

    #hero-heading {
        font-size: 9vw;
    }
}

@media screen and (max-width: 568px) {
    .album-text > h3 {
        font-size: 1.1rem
    }

    .listen-icons {
        display: block;
        float: none;
        text-align: center;
        margin-top: 30px;
    }
    #spotify {
        margin-right: 50px;
    }
    #youtube {
        margin-right: 50px;
    }

    .album {
        min-width: 230px;
    }

    footer {
        height: 70px;
    }
    footer > p {
        padding: 20px 0 0 40px;
    }
    #footer-rest-mob {
        display: inline;
    }
    #footer-rest-desk {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    #spotify {
        margin-right: 20px;
    }
    #youtube {
        margin-right: 20px;
    }
}